.custom-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  border-radius: var(--border-radiusCard);
  
}

.unset-img {
  width: 100%;
  border-radius: var(--border-radiusCard);
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1) brightness(90%);
}
.unset-img > span {
  position: unset !important;
}
