.custom-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;

  border-radius: 0. ;
}

.unset-img {
  width: 100%;
}
.unset-img > span {
  position: unset !important;
}
