.custom-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  border-radius: var(--border-radiusCard);
}

.unset-img {
  width: 100%;
  position: static;
}
.unset-img > span {
  position: unset !important;
}
